backups/
config_old-0/
local/
mods/
.pg-native/
screenshots/
texturepacks/
build/
data/
logs/
resourcepacks/
shaderpacks/
coremods/
defaultconfigs/
lightspeed-cache/
saves/
map_atlas
tconplanner/
crash-reports/
